body {
    background-color: lightblue;
}

.wrapper {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

title {
    display: none;
}

.main-window {
    display: flex;
    justify-content: space-evenly;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-square {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    box-sizing: border-box;
    border: 1px solid #000;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}